vivado_hls.log
*~
**/syn
**/.autopilot
**/csim
**/sim
**/impl
**/*.pyc
qmlpf/MLPTrainScripts/training_data/2xTrainingDataDND21test/*
qmlpf/MLPTrainScripts/training_data/2xTrainingDataDND21train/*
**/*.csv.xz
models/
**/*.npy
.idea/
training_data/

